#projects {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}
.project {
  width: 200px;
  height: 200px;
  background-color: #c9cbcc;
  margin: 5px;
  display: inline-block;
  /* float: left; */
  border-radius: 10px;
  box-shadow: 5px 2px 5px;
  opacity: 0.8;
  vertical-align: bottom;
}

.project .p {
  height: 60px;
  padding: 2px;
  /* margin-top: 5px; */
}
.project #icon {
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  display: inline-block;
  float: left;
  border-radius: 4px;
  vertical-align: bottom;
  background-color: white;
  box-shadow: 2px 1px 3px;
}
.project #name {
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  line-height: 40px;
  vertical-align: bottom;
}
.project #content {
  font-family: Monospace;
  text-align: left;
  text-indent: 3mm;
}
.project #ci {
  display: inline-block;
  vertical-align: bottom;
}
.project #cd {
  display: inline-block;
  vertical-align: bottom;
}
