* {
  margin: 0px;
  padding: 0px;
}
body {
  /* background-color: #9699a5; */
  background-image: url("../img/bg.jpeg");
  background-position: 50% 27%;
  background-repeat: no-repeat;
}
#main {
  position: fixed;
  bottom: 50%;
  left: 50%;
  width: 90%;
  /* margin: 0 auto; */
  text-align: center;
  /* margin-top: -30%; */
  margin-left: -45%;
}

.clear {
  clear: none;
}

.line {
  margin: 0px;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

#terminal {
  position: fixed;
  left: 3px;
  bottom: 3px;
  cursor: pointer;
}
#terminal :hover {

}

#tip {
  position: fixed;
  right: 0px;
  bottom: 2px;
  cursor: pointer;
}

#tip #sun {
  margin-right: 0rem;
}

#tip :hover{

}
