#projects {

  display: none;
}
.projectItem {
  width: 200px;
  height: 200px;
  background-color: #c9cbcc;
  margin: 5px;
  display: inline-block;
  /* float: left; */
  border-radius: 10px;
  box-shadow: 5px 2px 5px;
  opacity: 0.8;
  vertical-align: bottom;
  cursor: pointer;
}

#addProject {
  width: 200px;
  height: 200px;
  background-color: #c9cbcc;
  margin: 5px;
  display: inline-block;
  /* float: left; */
  border-radius: 10px;
  box-shadow: 5px 2px 5px;
  opacity: 0.8;
  vertical-align: bottom;
  cursor: pointer;
  position: relative;
}

#addProject i {
  width: 60%;
  height: 64%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.projectItem .p {
  height: 60px;
  padding: 6px;
  /* margin-top: 5px; */
}
.projectItem #icon {
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  display: inline-block;
  float: left;
  border-radius: 4px;
  vertical-align: bottom;
  background-color: white;
  box-shadow: 2px 1px 3px;
}
.projectItem #name {
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  line-height: 40px;
  vertical-align: bottom;
}
.projectItem #content {
  font-family: Monospace;
  text-align: left;
  text-indent: 3mm;
  word-wrap: break-word;
}
.projectItem #ci {
  display: inline-block;
  vertical-align: bottom;
}
.projectItem #cd {
  display: inline-block;
  vertical-align: bottom;
}
